[#if VIEW_MODE=""#]
<div>
 <a class="btn btn-default" href="#api_settings" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i> <#LANG_SETUP#></a>
 <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#about"><#LANG_GL_ABOUT#>&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
    </div>
<div class="collapse" id='api_settings'>&nbsp;
&nbsp;
<fieldset>
<form name="cookies_form" method="POST" action="?" enctype="multipart/form-data" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-7 control-label"><#LANG_GL_COOKIES#></label>
    <div class="col-lg-3"><input class="form-control" type="file" name="file" class="input"></div>
    <a href='#' onclick='document.forms["cookies_form"].submit(); return false;' title="<#LANG_ADD#>" class="btn btn-default"><i class='glyphicon glyphicon-plus'></i></a>
    <button class="btn btn-default" data-toggle="modal" data-target="#help"><i class="glyphicon glyphicon-question-sign"></i></button>
  </div>
  <input type="hidden" name="view_mode" value="upload_cookie">
</form>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if COOKIES_FILES#]
[#begin COOKIES_FILES#]
<div class="form-group">
 <label class="col-lg-5 control-label"></label>
 <div class="col-lg-3">
      <div class="col-lg-8">
        <p class="form-control-static">
        [#if ERROR!=''#]
         <i class="glyphicon glyphicon-info-sign" style="color:red;" title='[#ERROR#]'></i>
        [#endif ERROR#]
        [#NAME#] ([#SIZE#])
        </p>
      </div>
 </div>
 <a class="btn btn-default" href="?view_mode=delete_cookie&name=[#NAME#]" title="<#LANG_DELETE#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
 </div>
[#end COOKIES_FILES#]
[#else COOKIES_FILES#]
<div class="form-group">
 <label class="col-lg-5 control-label"></label>
 <div class="col-lg-3">
    <div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
 </div>
</div>
[#endif COOKIES_FILES#]
<div class="form-group">
 <label class="col-lg-5 control-label"><#LANG_GL_SETTING_TIMEOUT#>
 </label>
 <div class="col-lg-1"><input class="form-control" type="number" min=0 max=60 step=1 name="timeout_update" value="<#TIMEOUT_UPDATE#>" class="input"></div>
</div>
<div class="form-group">
 <label class="col-lg-5 control-label"><#LANG_GL_LIMIT_SPEED_MIN#></label>
 <div class="col-lg-1"><input class="form-control input" type="number" min=0 max=10 step=0.1 name="min_limit_speed" value="<#MIN_LIMIT_SPEED#>"></div>
</div>
<div class="form-group">
 <label class="col-lg-5 control-label"><#LANG_GL_LIMIT_SPEED_MAX#></label>
 <div class="col-lg-1"><input class="form-control input" type="number" min=0 step=1 name="max_limit_speed" value="<#MAX_LIMIT_SPEED#>"></div>
</div>
<div class="form-group">
 <label class="col-lg-5 control-label"><#LANG_GL_DEBUG#></label>
 <div class="controls"><input type="checkbox" name="debug" value="1"[#if DEBUG="1"#] checked[#endif#]></div>
</div>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
<br>
<a class="btn btn-default" href="?view_mode=update_location" ><i class="glyphicon glyphicon-refresh"></i>&nbsp;<#LANG_UPDATE#></a>
&nbsp;<#LANG_LATEST_UPDATES#>: <#LAST_UPDATE#>
<br><br>
<table class="table table-condensed table-striped">
<thead class="thead-light">
 <tr>
  <td>&nbsp;</td>
  <td><b><#LANG_NAME#></b></td>
  <td><b><#LANG_LOCATION#></b></td>
  <td><b><#LANG_ACCURACY#></b></td>
  <td><b><#LANG_SPEED#></b></td>
  <td><b><#LANG_LATEST_UPDATES#></b></td>
  <td><b><#LANG_BATTERY_LEVEL#></b></td>
  <td><b><#LANG_GL_SENDTOGPS#></b></td>
  <td>&nbsp;</td>
 </tr>
</thead>
<tbody>
 [#begin LOCATIONS#]
 <tr [#if WARNING=="1"#]class="danger"[#endif WARNING#]>
  <td><img src="[#IMAGE#]" style="border-radius: 0 50% 50%;" title="[#ID_USER#]" height="30px" onerror="this.src='/templates/google_location/none.jpg'"></td>
  <td title="[#FULLNAME#]">[#NAME#]</td>
  <td><a onclick="var url=('https://static-maps.yandex.ru/1.x/?ll=[#LON#],[#LAT#]&size=650,450&z=17&l=map&pt=[#LON#],[#LAT#],pm2blm');
                        $.fancybox.open({'type': 'image',src: url});return false;">
                        <i class="glyphicon glyphicon-map-marker"></i> [#ADDRESS#]
                    </a></td>
  <td>[#ACCURACY#]</td>
  <td>[#SPEED#]</td>
  <td>[#LASTUPDATE#]</td>
  <td>[#if CHARGING=="1"#]<i class="glyphicon glyphicon-flash"> </i>[#endif CHARGING#][#BATTLEVEL#]%</td>
  <td>[#if SENDTOGPS=="1"#]
        <a class="btn btn-success" href="?view_mode=send_switch&id=[#ID_USER#]" ><#LANG_ON#></a>
    [#else#]
        <a class="btn btn-danger" href="?view_mode=send_switch&id=[#ID_USER#]" ><#LANG_OFF#></a>
    [#endif SENDTOGPS#]
  </td>
  <td width="1%" nowrap>
  [#if "<#ACTION#>"=="admin"#]
    <a href="?view_mode=user_edit&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=user_delete&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>

 </tr>
 [#end LOCATIONS#]
 </tbody>
</table>   
 

<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Google location v0.10</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
					<img src="/templates/google_location/image.png"  width="48" height="48">
				</div>
                <p class="float-left"> Модуль Google Location.<br>
				Обсуждение модуля <a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=6309" target="_blank">здесь</a>.<br>
				</p>
				<hr size="1">
				<p class="float-left">
				Поддержать автора материально:
				<ul>
                    <li>Yandex: <a href="https://money.yandex.ru/to/410012076838296/100"  target="_blank">410012076838296</a></li>
                    <li>WebMoney: R366396529511</li>
                    <li><a href="https://connect.smartliving.ru/tasks/435.html"  target="_blank">Connect</a></li>
				</ul>
                </p>
			</div>
			
			<div class="modal-footer">
				<div class="pull-left">Telegram: <a href="https://telegram.me/Eraser1981" target="_blank">@Eraser1981</a> :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Google location</h4>
			</div>
			<div class="modal-body">
                <p><b>Как получить файл с cookies</b><br>
                <ul>
                    <li>Зайти на <a href='https://myaccount.google.com/?utm_source=OGB&tab=lk&utm_medium=app' target="_blank">страницу Google Account</a></li>
                    <li>Авторизоваться там, если не авторизовались</li>
                    <li>Сохранить файл с помощью приложения для Chrome <a href='https://chrome.google.com/webstore/detail/cookiestxt/njabckikapfpffapmjgojcnbfjonfjfg?hl=ru' target="_blank">cookies.txt</a></li>
                </ul>
                </p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
[#endif VIEW_MODE#]

[#if VIEW_MODE="user_edit"#]
<div>
    <a class="btn btn-defaul btn-primary" href="?">&lt;&lt;&lt; <#LANG_BACK#></a>
</div>
    [#inc user_edit.html#]
[#endif VIEW_MODE#]
